@layer components {

  section.about__contact-form {
    margin-bottom: 3rem;
    background-color: var(--blanc-cass);
  }

  h3 {
    font-size: 1.5rem;
  }

  img {
    max-width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .about__funding {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  .sponsor {
    padding-top: 3rem;
    justify-content: center;
  }

  .sponsor > p {
    margin-bottom: 3rem;
  }

  .funding_text {
    font-weight: 600;
  }
}
