@layer components {
  :root {
    --breakpoint-mobile: 680px;
    --breakpoint-landing-page: 860px;
    --canard: #1a586c;
    --vert-turquoise: #5bad91;
  }

  :host {
    --blanc-cass: #f4f0eb;
    --canard: #1a586c;
    --vert-turquoise: #5bad91;
    --noir: #000;
    --blanc: #fff;
    --gris-clair: #8e8e8e;
    display: block;
    background: var(--blanc);
    color: var(--noir);
    font:
      500 16px/1.4 system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      sans-serif;
    box-shadow: var(--shadow);
  }

  /* Smooth scrolling */
  html {
    scroll-behavior: smooth;
    background-color: var(--blanc);
  }

  /* Styles de base pour toutes les sections */
  main section {
    min-height: 100vh;
    justify-content: left;
    align-items: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    scroll-margin-top: 0;
  }

  .member_overlay {
    background-color: var(--gris-clair);
    width: 100%;
    gap: 1rem;
  }

  .member_name {
    margin-left: 0.5rem;
  }

  .member_role {
    margin-left: 0.5rem;
    padding-bottom: 0.5rem;
  }

  @media (min-width: 481px) {
    .team_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 4fr 1.5fr;
      width: 100%;
      justify-items: center;
    }

    .title {
      font-family: Archivo;
      font-size: clamp(80px, 12vw, 150px);
      font-style: normal;
      font-weight: 900;
      line-height: 1.2;
      letter-spacing: -1.92px;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }

    img {
      width: 22rem;
      height: auto;
    }

    .workshops_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .workshop_text {
      margin-top: 10rem;
    }

    .workshop_image {
      width: 100%;
      height: auto;
    }

    section.visits {
      background-color: var(--vert-turquoise);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .visit {
      color: var(--blanc);
    }
  }

  @media (max-width: 480px) {
    .title {
      font-family: Archivo;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: 1.2;
      letter-spacing: -1.92px;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }

    .team_member {
      box-sizing: border-box;
    }

    .team_wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: space-between;
    }

    .team_wrapper img {
      gap: 1rem;
      max-width: 170px;
      width: 100%;
      height: auto;
    }

    .member_overlay {
      max-width: 170px;
      width: 100%;
      gap: 0.5rem;
    }

    .workshops {
      color: var(--blanc);
      background-color: var(--vert-turquoise);
    }

    .workshops_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .workshops_wrapper img {
      order: -1;
    }

    .visits {
      background-color: var(--blanc);
    }

    .visit_image {
      width: 100%;
      height: auto;
    }
  }
}
