@layer components {
  :host {
    --breakpoint-mobile: 680px;
    --breakpoint-landing-page: 860px;
    --canard: #1a586c;
    --vert-turquoise: #5bad91;
    --blanc-cass: #f4f0eb;
    --canard: #1a586c;
    --noir: #000;
    --blanc: #fff;
    display: block;
    background: var(--brand-bg);
    color: var(--brand-fg);
    --font-family-primary:
      Archivo, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
    font-family: var(--font-family-primary);
    --navbar-height: 161px;
  }

  /* Smooth scrolling */
  html {
    scroll-behavior: smooth;
  }

  /* Styles de base pour toutes les sections */
  main section {
    /* min-height: calc(100vh - var(--navbar-height)); */
    min-height: 100dvh; /* full viewport height minus navbar */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 5rem;
    padding-right: 5rem;
    scroll-margin-top: 0;
  }

  #screen-1 {
    background-color: var(--vert-turquoise);
    color: var(--blanc-cass);
    padding: 0 5rem 0 5rem;
  }

  .screen-title {
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: 6rem; /* was 176px or 11rem*/
    /* font-size: 100px; */
    font-style: normal;
    font-weight: 900;
    line-height: 6rem;
    /* 101.136% */
    letter-spacing: -5.28px;
    margin-bottom: 2rem;
  }

  /*  todo: make h3 and p common element like screen-title */
  #screen-1 h3 {
    font-family: var(--font-family-primary);
    font-size: 5.5rem; /* was 70px */
    line-height: 5.5rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -2.1px;
    margin: 0px;
  }

  #screen-1 p {
    font-family: var(--font-family-primary);
    font-size: 2rem; /* was 30px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h2.title-2 i {
    display: inline-block;
    white-space: nowrap;
    font-style: inherit;
    /* keep the whole word on one line */
  }

  h2.title-2 i::first-letter {
    color: var(--canard, #1a586c);
    font-style: inherit;
  }

  .screen-3 {
    display: grid;
    grid-template-columns: 548fr 1090fr;
    /* ratio-based scaling */
    grid-template-rows: 567fr auto;
    gap: 1rem;
    /* optional */
  }

  .screen-title.title-3 {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  h2.title-3 i {
    display: inline-block;
    font-style: inherit;
    white-space: nowrap;
    /* keep the whole word on one line */
  }

  h2.title-3 i {
    color: var(--vert-turquoise, #5bad91);
  }

  .theme-turquoise {
    background-color: var(--vert-turquoise);
    color: var(--blanc-cass);
  }

  .theme-white-dark {
    background-color: var(--blanc);
    color: var(--noir);
  }

  .theme-canard {
    background-color: var(--canard);
    color: var(--blanc-cass);
  }
}
