@layer components {
  @import "./components/about-intro.css";
  @import "./components/about-team.css";
  @import "./components/about-missions-values.css";
  @import "./components/about-contact-form.css";
  @import "./components/about-funding.css";

  section {
    min-height: 1vh;
    --vert: #087065;
  }

  h1 {
    display: block;
    font-size: clamp(4rem, 6rem + 2vw, 6rem);
    font-weight: 900;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
    align-self: start;
    justify-self: center;
  }

  h2 {
    display: block;
    font-size: clamp(2.25rem, 3.157rem + 2vw, 3.157rem);
    font-weight: 700;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
    align-self: start;
    justify-self: center;
  }
}
