@layer components {
  
  .articles {
    background-color: white;
  }

  section.ipcc {
    background-color: #087065;
  }

  @media (max-width: 480px) {
    section > * {
      margin-left: 1rem;
      margin-right: 1rem;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    .info_title {
      color:white;
    }

    .ipcc_title {
      color:white;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .ipcc_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    .ipcc_text {
      color:white;
      order: 2;
    }

    .ipcc_img {
      width: 100%;
      height: auto;
      order: 1;
    }

    .articles_title {
      font-size: 2rem;
      font-weight: bold;
    }

    .articles_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .article_img{
      width: 100%;
      height: auto;
    }

  .article_img:nth-child(1) { order: 1; }
  .article_txt:nth-child(5) { order: 2; }
  .article_img:nth-child(2) { order: 3; }
  .article_txt:nth-child(6) { order: 4; }
  .article_img:nth-child(3) { order: 5; }
  .article_txt:nth-child(7) { order: 6; }
  .article_img:nth-child(4) { order: 7; }
  .article_txt:nth-child(8) { order: 8; }

  }

  @media (min-width: 481px) {

    section > * {
      margin-left: 5rem;
      margin-right: 5rem;
      padding-bottom: 5rem;
      padding-top: 5rem;
      min-height: 2vh;
    }

    .ipcc_wrapper {
      margin-top: 0;
      padding-top: 0;
      display: grid;
      grid-template-columns: 0.8fr 1.2fr;
      gap: 10rem;
    }
    .ipcc_text {
      color: white;
      background-color: gray !important;
      padding: 2rem;
      width: 100%;
    }
    h1 {
      color: white;
      font-family: var(--font-family-primary);
      font-size: 7em;
      font-style: normal;
      font-weight: 900;
      line-height: 1.2;
      letter-spacing: -1.92px;
    }

    h1.ipcc_title {
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 0;
      padding-top: 0;
    }

    h2 {
      color: white;
      font-family: var(--font-family-primary);
      font-size: 1.75em;
      font-style: normal;
      font-weight: 900;
      line-height: 1.2;
      letter-spacing: -1.92px;
    }

    .ipcc_img {
      height: 100%;
      width: auto;
    }

    h1.articles_title {
      color: black;
      font-weight: bold;
    }

    .articles_wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 3rem;
    }

    .article_title {
      font-size: 1.5rem;
      border-top: 1px solid black;
      max-width: 20rem;
    }

    .article_description {
      font-size: 1.5rem;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      max-width: 20rem;
    }

    .article_img {
      max-width: 20rem;
      height: auto;
    }
  }
}
