{% extends "main.njk" %}
{% block content %}
    <div class="about-content">
        <link rel="stylesheet" href='{{ asset("/assets/styles/about.css") }}'>
        <!-- 
            "team",
            "mission-values
            "funding",
            "contact-form
            "support-us
        -->
        <main class="about_page">
            <!-- about section-->
             <section class="about_intro" id="about-intro">
                <h1 class="intro_title">{{ t("about.intro.title") }}</h1>
                <h2 class="intro_subtitle">{{ t("about.intro.subtitle") | safe }}</h2>
                <div class="intro_text">
                    <div class="public_wrapper">
                        <h3 class="public_title">{{ t("about.intro.public.general.title") }}</h3>
                        <div class="public_text">{{ t("about.intro.public.general.text") }}</div>
                    </div>
                    <div class="public_wrapper">
                        <h3 class="public_title">{{ t("about.intro.public.academic.title") }}</h3>
                        <div class="public_text">{{ t("about.intro.public.academic.text") }}</div>
                    </div>
                </div>
                <h2 class="intro_subtitle">{{ t("about.intro.subtitle_2") }}</h2>
            </section>
            <!-- team section -->
            <section id="{{ navItemsMap.about.anchors[0].id }}" class="{{ navItemsMap.about.anchors[0].id }}">
                <h1 class="team_title">{{ t("about.team.title") }}</h1>
                <div class="team_members">
                    <div class="team_member empty"></div> <!-- Empty div for spacing -->
                    <div class="team_member eleni">
                        <img class="member_img" src="{{ asset("/assets/images/about/INPLUGS_TEAM_Eleni.webp") }}" alt="Member Image">
                        <div class="member_info">
                            <h3 class="member_name"> {{ t("about.team.member.Eleni.name") }} </h3>
                            <h4 class="member_status"> {{ t("about.team.member.Eleni.status") }} </h4>
                            <h4 class="member_org"> {{ t("about.team.member.Eleni.organisation") }} </h4>
                            <h4 class="member_role"> {{ t("about.team.member.Eleni.role") }} </h4>
                        </div>
                    </div>
                    <div class="team_member helene">
                        <img class="member_img" src="{{ asset("/assets/images/about/INPLUGS_TEAM_Helene.webp") }}" alt="Member Image">
                        <div class="member_info">
                            <h3 class="member_name"> {{ t("about.team.member.Helene.name") }} </h3>
                            <h4 class="member_status"> {{ t("about.team.member.Helene.status") }} </h4>
                            <h4 class="member_org"> {{ t("about.team.member.Helene.organisation") }} </h4>
                            <h4 class="member_role"> {{ t("about.team.member.Helene.role") }} </h4>
                        </div>
                    </div>
                    <div class="team_member laetitia">
                        <img class="member_img" src="{{ asset("/assets/images/about/INPLUGS_TEAM_Laeti.webp") }}" alt="Member Image">
                        <div class="member_info">
                            <h3 class="member_name"> {{ t("about.team.member.Laetitia.name") }} </h3>
                            <h4 class="member_status"> {{ t("about.team.member.Laetitia.status") }} </h4>
                            <h4 class="member_org"> {{ t("about.team.member.Laetitia.organisation") }} </h4>
                            <h4 class="member_role"> {{ t("about.team.member.Laetitia.role") }} </h4>
                        </div>
                    </div>
                    <div class="team_member marc">
                        <img class="member_img" src="{{ asset("/assets/images/about/INPLUGS_TEAM_Marc.webp") }}" alt="Member Image">
                        <div class="member_info">
                            <h3 class="member_name"> {{ t("about.team.member.Marc.name") }} </h3>
                            <h4 class="member_status"> {{ t("about.team.member.Marc.status") }} </h4>
                            <h4 class="member_org"> {{ t("about.team.member.Marc.organisation") }} </h4>
                            <h4 class="member_role"> {{ t("about.team.member.Marc.role") }} </h4>
                        </div>
                    </div>
                    <div class="team_member pierre">
                        <img class="member_img" src="{{ asset("/assets/images/about/INPLUGS_TEAM_Pierre.webp") }}" alt="Member Image">
                        <div class="member_info">
                            <h3 class="member_name"> {{ t("about.team.member.Pierre.name") }} </h3>
                            <h4 class="member_status"> {{ t("about.team.member.Pierre.status") }} </h4>
                            <h4 class="member_org"> {{ t("about.team.member.Pierre.organisation") }} </h4>
                            <h4 class="member_role"> {{ t("about.team.member.Pierre.role") }} </h4>
                        </div>
                    </div>
                    <div class="team_member charlie">
                        <img class="member_img" src="{{ asset("/assets/images/about/INPLUGS_TEAM_Charlie.webp") }}" alt="Member Image">
                        <div class="member_info">
                            <h3 class="member_name"> {{ t("about.team.member.Charlie.name") }} </h3>
                            <h4 class="member_status"> {{ t("about.team.member.Charlie.status") }} </h4>
                            <h4 class="member_org"> {{ t("about.team.member.Charlie.organisation") }} </h4>
                            <h4 class="member_role"> {{ t("about.team.member.Charlie.role") }} </h4>
                        </div>
                    </div>
                    <div class="team_member hugo">
                        <img class="member_img" src="{{ asset("/assets/images/about/INPLUGS_TEAM_Hugo.webp") }}" alt="Member Image">
                        <div class="member_info">
                            <h3 class="member_name"> {{ t("about.team.member.Hugo.name") }} </h3>
                            <h4 class="member_status"> {{ t("about.team.member.Hugo.status") }} </h4>
                            <h4 class="member_org"> {{ t("about.team.member.Hugo.organisation") }} </h4>
                            <h4 class="member_role"> {{ t("about.team.member.Hugo.role") }} </h4>
                        </div>
                    </div>
                    <div class="team_member quentin">
                        <img class="member_img" src="{{ asset("/assets/images/about/INPLUGS_TEAM_Quentin.webp") }}" alt="Member Image">
                        <div class="member_info">
                            <h3 class="member_name"> {{ t("about.team.member.Quentin.name") }} </h3>
                            <h4 class="member_status"> {{ t("about.team.member.Quentin.status") }} </h4>
                            <h4 class="member_org"> {{ t("about.team.member.Quentin.organisation") }} </h4>
                            <h4 class="member_role"> {{ t("about.team.member.Quentin.role") }} </h4>
                        </div>
                    </div>
                </div>
            </section>
            <!-- missions and values -->
            <section id="{{ navItemsMap.about.anchors[1].id }}" class="{{ navItemsMap.about.anchors[1].id }}">
                <div class="missions">
                    <h1 class="missions_title">{{ t("about.missions.title") }}</h1>
                    <!-- <img class="missions_img" src="{{ asset("/assets/images/about/mission.svg") }}" alt="Missions Image"> -->
                    <p class="missions_text">{{ t("about.missions.text") }}</p>
                </div>
            </section>
            <!-- funding -->
            <section id="{{ navItemsMap.about.anchors[2].id }}" class="{{ navItemsMap.about.anchors[2].id }}">
                <!-- 
                about.funding.title: INPLUGS-CO2 has received financial support by
                about.funding.text_1: Carbon Removel Booster, powered by Innosuisse
                about.funding.text_2: and the Swiss Federal Office of Energy (SFOE) in the frame of the EnRUp-GCS (EPFL) project
                -->
                <h1 class="funding_title_section">{{ t("about.funding.title") }}</h1>
                <h3 class="funding_title">{{ t("about.funding.text_0") }}</h3>
                <div class="about__funding">
                    <div class="sponsor">
                        <p class="funding_text">{{ t("about.funding.text_1") }}</p>
                        <picture class="funding_logo">
                            <source srcset="{{ asset("/assets/images/about/CarbonRemovalBooster.webp") }}" type="image/webp">
                            <img src="{{ asset("/assets/images/about/CarbonRemovalBooster.png") }}" alt="Logo Carbon Removal Booster"> 
                        </picture>
                    </div>
                    <div class="sponsor">
                        <p class="funding_text">{{ t("about.funding.text_2") }}</p>
                        <picture class="funding_logo">
                            <source srcset="{{ asset("/assets/images/about/SFOE.webp") }}" type="image/webp">
                            <img src="{{ asset("/assets/images/about/SFOE.png") }}" alt="Logo SFOE"> 
                        </picture>
                    </div>
                </div>
            </section>
            <!-- contact-form -->
            <section id="{{ navItemsMap.about.anchors[3].id }}" class="about__{{ navItemsMap.about.anchors[3].id }}">
                <h2>{{ t("about.contact.title") }}</h2>
                <form class="about__contact-form" method="post" enctype="text/plain" action="mailto:lms-inplugs@epfl.ch">
                    <!-- name -->
                    <label for="name">{{ t("about.contact.form.name") }}</label>
                    <input type="text" id="name" name="name" placeholder="{{ t("about.contact.form.name_placeholder") }}" required>
                    <!-- email -->
                    <label for="email">{{ t("about.contact.form.email") }}</label>
                    <input type="email" id="email" name="email" placeholder="{{ t("about.contact.form.email_placeholder") }}" required>
                    <!-- message -->
                    <label for="message">{{ t("about.contact.form.message") }}</label>
                    <textarea id="message" name="message" placeholder="{{ t("about.contact.form.message_placeholder") }}" required></textarea>
                    <!-- submit button -->
                    <button type="submit">{{ t("about.contact.form.submit") }}</button>
                </form>
                <h2>{{ t("about.contact.subtitle") }}</h2>
                <p class="join">{{ t("about.contact.text") }}</p>
            </section>
            <!-- support-us -->
            <section style="display:none;" id="{{ navItemsMap.about.anchors[4].id }}" class="about__{{ navItemsMap.about.anchors[4].id }}">
                <h2>{{ t("about.support.title") }}</h2>
                <div class="about__support">
                    <ol>
                        <li>
                            <!-- IBAN title -->
                            <h2>{{ t("about.support.iban.title") }}</h2>
                            <!-- IBAN number -->
                            <p>{{ t("about.support.iban.number") }}</p>
                        </li>
                        <li>
                            <!-- Account holder -->
                            <h2>{{ t("about.support.account_holder.title") }}</h2>
                            <!-- Account holder name -->
                            <p>{{ t("about.support.account_holder.name") }}</p>
                        </li>
                    </ol>
                    <picture>
                        <!-- qr code of iban -->
                        <source srcset="{{ asset("/assets/images/about/fake-qr.webp") }}" type="image/svg+xml">
                        <img src="{{ asset("/assets/images/about/fake-qr.png") }}" alt="QR Code IBAN"> 
                    </picture>
                </div>
            </section>
        </main>
        <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    </div>
{% endblock %}
