{% extends "main.njk" %}
{% block content %}
<data-content>
    <template shadowrootmode="open">
        <link rel="stylesheet" href='{{ asset("/assets/styles/data.css") }}'>

        <main class="data_page">
            COUCOU
        </main>
        <!-- <script type="module" src='{{ asset("/assets/js/data.js") }}'></script> -->
    </template>
</data-content>
{% endblock %}