{% extends 'layouts/main.njk' %}
{% block content %}
<data-content>
    <template shadowrootmode="open">
        <link rel="stylesheet" href='{{ asset("/assets/styles/education.css") }}'>

        <h1 class="education_title">{{ t("education.education_title") }}</h1>
        <section class="team">
    </template>
</data-content>
{% endblock %}
