{% extends 'layouts/main.njk' %}
{% block content %}
    <h2>{{ t("gcs.title") }}</h2>
    <p>{{ t("gcs.why") }}</p>
    <h3>{{ t("gcs.what") }}</h3>
    <p>{{ t("gcs.world") }}</p>
    <p>{{ t("gcs.ch") }}</p>
{% endblock %}
