{% extends "main.njk" %}

{% block content %}

<index-content>
  <template shadowrootmode="open">
    {% if isProduction and cssHash %}
    <link rel="stylesheet" href="/assets/styles/index.{{ cssHash }}.css">
    {% else %}
    <link rel="stylesheet" href="/assets/styles/index.css">
    {% endif %}
    
    <h1>{{ t("homepage.title") }}</h1>
    <button>{{ t("homepage.button") }}</button>


    <picture>
  <!-- PNG source -->
  <source
    type="image/png"
    srcset="
      /assets/images/landing-page/INPLUG_illustration_cylindre_sansechelle%201_clear_sky.png 800w,
      /assets/images/landing-page/INPLUG_illustration_cylindre_sansechelle%201_clear_sky.png 1600w
    "
    sizes="(min-width: 800px) 800px, 100vw"
  >
  
  <!-- Ultimate fallback -->
  <img
    src="/assets/images/landing-page/INPLUG_illustration_cylindre_sansechelle%201_clear_sky.png"
    alt="INPLUG_illustration_cylindre_sansechelle"
    loading="lazy"
    decoding="async"
  >
</picture>


  </template>
</index-content>

{% endblock %}
