<div class="landing_page__visual">
  <picture>
    <!-- WEBP source for desktop (viewport >= 900px) -->
    <source
      media="(min-width: 900px)"
      type="image/webp"
      srcset="/assets/images/landing-page/landing-page-illustration.webp"
    />

    <!-- PNG source for desktop (viewport >= 900px) -->
    <source
      media="(min-width: 900px)"
      type="image/png"
      srcset="/assets/images/landing-page/landing-page-illustration.png"
    />

    <!-- WEBP source for mobile (viewport < 900px) -->
    <source
      type="image/webp"
      srcset="/assets/images/landing-page/INPLUG_illustration_cylindre_sansechelle%201_clear_sky.webp"
    />

    <!-- PNG source for mobile (viewport < 900px) -->
    <source
      type="image/png"
      srcset="/assets/images/landing-page/INPLUG_illustration_cylindre_sansechelle%201_clear_sky.png"
    />

    <!-- Ultimate fallback -->
    <img
    src="/assets/images/landing-page/landing-page-illustration.png"
    alt="{{ t("homepage.image_alt") }}" loading="lazy" decoding="async" />
  </picture>
</div>
