<div class="svg-container">
  <svg viewBox="0 0 1930 4287" preserveAspectRatio="xMidYMid meet">
    <defs>
      <linearGradient id="fake-gradient" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="#123456"/>
        <stop offset="100%" stop-color="#abcdef"/>
      </linearGradient>
    </defs>
    <rect width="1930" height="4287" fill="url(#fake-gradient)"/>
  </svg>
</div>