<g id="landing_svg_step2_animate" data-name="co2-labels-and-arrows">
    <g data-name="arrows">
        <use href="#arrow-down" x="-14" y="100" width="26" height="180" visibility="hidden">
            <set attributeName="visibility" to="visible" begin="4s" />
            <animateMotion dur="20s" repeatCount="indefinite">
                <mpath href="#tuyau-down" />
            </animateMotion>
        </use>

        <use href="#arrow-down" x="-14" y="100" width="26" height="180" visibility="hidden">
            <set attributeName="visibility" to="visible" begin="8s" />
            <animateMotion dur="20s" repeatCount="indefinite" begin="8s" fill="freeze">
                <mpath href="#tuyau-down" />
            </animateMotion>
        </use>
        <use href="#arrow-down" x="-14" y="100" width="26" height="180" visibility="hidden">
            <set attributeName="visibility" to="visible" begin="12s" />
            <animateMotion dur="20s" repeatCount="indefinite" begin="12s" fill="freeze">
                <mpath href="#tuyau-down" />
            </animateMotion>
        </use>
        <use href="#arrow-down" x="-14" y="100" width="26" height="180" visibility="hidden">
            <set attributeName="visibility" to="visible" begin="16s" />
            <animateMotion dur="20s" repeatCount="indefinite" begin="16s" fill="freeze">
                <mpath href="#tuyau-down" />
            </animateMotion>
        </use>
        <use href="#arrow-down" x="-14" y="100" width="26" height="180" visibility="hidden">
            <set attributeName="visibility" to="visible" begin="20s" />
            <animateMotion dur="20s" repeatCount="indefinite" begin="20s" fill="freeze">
                <mpath href="#tuyau-down" />
            </animateMotion>
        </use>
    </g>

    <g data-name="co2-labels">
        <use href="#co2" visibility="hidden">
            <animateMotion dur="20s" repeatCount="indefinite" to="visible" begin="4s" >
                <mpath href="#tuyau-down" />
            </animateMotion>
            <set attributeName="visibility" to="visible" begin="4s" />
        </use>
        <use href="#co2" visibility="hidden">
            <animateMotion dur="20s" repeatCount="indefinite" begin="8s" fill="freeze">
                <mpath href="#tuyau-down" />
            </animateMotion>
            <set attributeName="visibility" to="visible" begin="8s" />
        </use>
        <use href="#co2" visibility="hidden">
            <animateMotion dur="20s" repeatCount="indefinite" begin="12s">
                <mpath href="#tuyau-down" />
            </animateMotion>
            <set attributeName="visibility" to="visible" begin="12s" />
        </use>
        <use href="#co2" visibility="hidden">
            <animateMotion dur="20s" repeatCount="indefinite" begin="16s">
                <mpath href="#tuyau-down" />
            </animateMotion>
            <set attributeName="visibility" to="visible" begin="16s" />
        </use>
        <use href="#co2" visibility="hidden">
            <animateMotion dur="20s" repeatCount="indefinite" begin="20s">
                <mpath href="#tuyau-down" />
            </animateMotion>
            <set attributeName="visibility" to="visible" begin="20s" />
        </use>
    </g>
</g>